body {
    font-family: Arial, sans-serif;
    background-size: auto;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-div {
    background-color: white;
    align-content: center;
    display: flex;
}

h2 {
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid;
}

button {
    width: 100%;
    padding: 10px;
    background-color:red;
    border: none;
}

